<h2 mat-dialog-title>{{titulo}} Medico</h2>
<mat-dialog-content>

  <form [formGroup]="formMedico">
    <div class="row mt-2">
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input formControlName="apellidos" matInput autocomplete="off" maxlength="60">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input formControlName="nombres" matInput autocomplete="off" maxlength="60">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Direccion</mat-label>
          <input formControlName="direccion" matInput autocomplete="off" maxlength="100">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Telefono</mat-label>
          <input formControlName="telefono" matInput autocomplete="off" maxlength="40">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Genero</mat-label>
          <mat-select formControlName="genero">
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Femenino</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Especialidad</mat-label>
          <mat-select formControlName="especialidadId">
            <mat-option *ngFor="let item of listaEspecialidades" [value]="item.id">
              {{item.nombreEspecialidad}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option value="1">Activo</mat-option>
            <mat-option value="0">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close="true" color="warn">Volver</button>
  <button mat-raised-button color="primary" [disabled]="formMedico.invalid"
    (click)="crearModificarMedico()">{{nombreBoton}}</button>
</mat-dialog-actions>