<h1 class="m-2">Usuarios</h1>
<div class="content">
  <mat-card class="m-2">
    <mat-card-title>
      <button mat-raised-button color="primary" (click)="nuevoUsuario()" class="m-2">
        <mat-icon mat-list-icon>add</mat-icon>Nuevo
      </button>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content class="mt-2">

      <mat-form-field style="width: 100%;;">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="aplicarFiltroListado($event)" placeholder="Filtro" #input>
      </mat-form-field>

      <div class="mat-elevation-z8" style="overflow-x: auto;">
        <table mat-table [dataSource]="dataSource">


          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
          <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
          </ng-container>
           <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef> Nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
           <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
          </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccione Usuarios">
        </mat-paginator>
      </div>

    </mat-card-content>

  </mat-card>
</div>

